@font-face { font-family: intro;
	src: url('/fonts/intro/intro_book.otf')
}

@font-face { font-family: arvo;
	src: url('/fonts/arvo/Arvo-Regular.ttf')
}
@font-face { font-family: arvo_italic;
	src: url('/fonts/arvo/Arvo-Italic.ttf')
}
@font-face { font-family: arvo_bold;
	src: url('/fonts/arvo/Arvo-Bold.ttf')
}
@font-face { font-family: arvo_bold_italic;
	src: url('/fonts/arvo/Arvo-BoldItalic.ttf')
}



* {
	box-sizing: 		border-box;
	
	font-weight: 		normal;
	font-style:		normal;
	text-rendering:		optimizeLegibility;
	
	border:			0;
	padding:		0;
	margin:			0;
	
	-webkit-margin-before: 	0;
	-webkit-margin-after: 	0;
	
	-webkit-margin-start: 	0;
	-webkit-margin-end: 	0;
}

header, section, footer, aside, nav, article, figure {
	display: 		block;
}

html {
	overflow-y: 		scroll;	
}
	
body {
	width:			100%;
	
	position:		relative;
	
	font-family: 		open sans;
	font-size:		.95rem;
	color:			hsl(205,5%,80%);
	line-height:		1em;
	text-align:		center;
	vertical-align:		top;
  
	cursor:			default;

	background:		hsl(200,30%,12%);
	
	margin:			0;
	padding:		10px 0 20px 0;
			
	z-index:		0;
}

.hide {
	display:		none;
}

img,svg {
	width:			130px;
	height:			130px;
	
	margin:			0;
	padding:		0;
	
	cursor:			pointer;
	
	background:		hsla(212,5%,25%,0);
	
	display:		inline-block;
}


page {
	width:			1000px;
	height:			auto;
	
	position:		relative;
	
	border:			0px dashed yellow;
	border-radius:		2rem;
	
	margin:			75px auto 0 auto;
	padding:		0 0 40px 0;
		
	background:		hsl(207,10%,27%);
		
	display:		table;
}



blanker {
	width:			1000px;
	height:			6.2rem;

	position:		fixed;
	
	border:			0px solid yellow;
	
	border-radius:		0;
	
	margin:			-85px auto 0 auto;
	
	background:		hsl(200,30%,12%);
	
	display:		table;
	z-index:		25;
}

header {
	width:			1000px;
	height:			6.2rem;

	position:		fixed;
	
	border:			0px solid purple;
	
	border-radius:		2rem 2rem 0 0;
	
	margin:			.5rem auto 0 auto;
	
	overflow:		hidden;
	
	background: 		-webkit-gradient(linear, left top, left bottom, from(hsl(200,20%,45%)), to(hsl(200,30%,32%))); 		/* Chrome */
	background-image: 	linear-gradient(   hsl(200,20%,45%),hsl(200,30%,32%)   );						/* Firefox, IE, Opera */
	
	display:		block;
}
gfx {
	width:			1200px;
	height:			1200px;
	
	position:		absolute;
	top:			-320px;
	left:			-60px;
	
	border:			0px solid blue;

	opacity:		.075;

	display:		block;	
	float:			left;
	z-index:		0;
}
gfx svg {
	width:			1200px;
	height:			1200px;
	
	display:		block;
}


fadeout {
	width:			76%;
	height:			36px;

	position:		absolute;
	bottom:			-46px;
	left:			0px;
	
	border:			0px dashed purple;
	
	margin:			0;
	padding:		0;
	
	background: 		-webkit-gradient(linear, left top, left bottom, from(hsl(207,10%,27%)), to(hsla(207,10%,27%,0))); 	/* Chrome */
	background-image: 	-ms-linear-gradient( -90deg, hsl(207,10%,27%), hsl(207,10%,27%) 10%, hsla(207,10%,27%,0));		/* IE */
	background-image: 	linear-gradient(   hsl(207,10%,27%),hsla(207,10%,27%,0)   );						/* Firefox, Opera */
	
	display:		block;
	z-index:		25;
}


section {
	position:		relative;
	top:			0px;
	left:			0px;
	
	width:			100%;
	border:			0px solid blue;
	display:		table;
			
	background:		hsl(207,10%,27%);
	
	float:			left;
	z-index:		15;	
}





logoCont {
	height:			6.2rem;
	width:			10.75rem;
	
	position:		relative;
	
	border:			0px dashed orange;

	text-align:		left;
	
	overflow:		hidden;
	
	padding:		0 0 0 2rem;
	
	display:		table-cell;
}
logoCont logo {
	height:			auto;
	width:			auto;
	
	position:		absolute;
	top:			0;
	left:			1rem;
	
	border:			0px dashed pink;

	text-align:		left;

	overflow:		hidden;
	
	display:		block;
	float:			left;
	z-index:		5;
}
.scalarLogo {
	width:			10.75rem;
	height:			10.75rem;
	
	border:			0px dashed red;
	
	margin:			-1.5rem 0 0 0;
	
	display:		block;
}
.scalarLogo #arrowL,
.scalarLogo #arrowR {
	fill:			hsl(10,100%,50%);
	stroke:			hsl(50,100%,55%);
	stroke-width:		.8;
}
.scalarLogo #point {
	fill:			hsl(0,100%,45%);
	stroke:			hsl(60,100%,70%);
	stroke-width:		1.3;
}
.scalarLogo #scalarLogoText {
	fill:			hsl(0,0%,100%);
	stroke:			hsl(200,50%,35%);
	stroke-width:		1.5;
}


header txtCont {
	width:			auto;
	height:			1em;
	
	vertical-align:		middle;
		
	border:			0px dashed blue;
		
	display:		table-cell;
}
header txt {
	width:			auto;
	height:			1em;
	
	font-family:		intro;
	font-weight:		normal;
	font-style:		normal;
	
	letter-spacing:		0rem;
	font-size:		1.5rem;
	color:			hsla(205,50%,90%,.90);
	line-height:		1em;
	text-align:		left;
	vertical-align:		top;
	white-space:		nowrap;
	
	cursor:			default;

	border:			0px dashed red;
	
	margin:			1.05rem 0 0 .6rem;
	padding:		0;
	
	display:		table;
}




h1, h2 {
	font-family: 		arvo_bold;
	width:			auto;
	
	line-height:		1em;
	text-align:		left;
	vertical-align:		top;
	white-space:		nowrap;
	
	display:		table;
}
h1 {
	font-size:		1.5rem;
	color:			hsl(200,45%,97%);
	
	padding:		0;
	margin:			0 0 .5rem 0;
	
}
h2 {
	font-size:		1.25rem;
	color:			hsl(200,45%,85%);
	
	padding:		0;
	margin:			.5rem 0 .5rem 0;
}







explain {
	width:			75%;
	
	vertical-align:		top;
	
	border:			0px dashed yellow;
	
	padding:		3.2rem 0 2em 1.6em;
	
	display:		table-cell;
}

explain h1 {
	text-shadow: 		.175rem .175rem hsla(200,50%,15%,.7);
	margin:			0 0 .2rem 0;	
}
explain h2 {
	text-shadow: 		.175rem .175rem hsla(200,50%,18%,.7);
	position:		relative;
	margin:			.5rem 0 .2rem 0;
}



/* ============================== Questions  ========================*/
.questions {
	border:			0px dashed red;
}
.questions h2 {
	height:			2rem;
	font-size:		1rem;
	background:		transparent;
	line-height:		2em;
	
	padding:		0 .6rem 0 0;
	margin:			0 0 .1rem 0;
	
	display:		block;
}
.questions h2:nth-of-type(1) {
	margin:			1.1rem 0 .3rem 0;
}

.questions h2 icon {
	width:			2rem;
	height:			2rem;
	
	position:		relative;
	
	border-radius:		50%;
	background:		hsla(200,50%,50%,1);
	
	margin:			0 .3rem 0 0;
	
	display:		inline-table;
}
.questions h2 icon ques {
	width:			100%;
	height:			1em;
	
	font-family: 		open sans;
	font-size:		1.5rem;
	font-weight:		600;
	font-style:		normal;
	text-align:		center;
	line-height:		1em;
	
	position:		absolute;
	top:			-.1em;
	bottom:			0;
	left:			0;
	right:			0;
	
	margin:			auto;
	
	border:			0 dashed black;
		
	display:		table;
}

.questions p {	
	padding: 		0 1.5rem 1.5rem 2.5rem;
}


/* ======================= Features Page Headings ========================*/
.features h2 {	
	border-radius:		.8rem 0 .8rem .8rem;
	padding:		.2rem .9rem .3rem 3rem;
}

.features h2 svg {
	width:			3rem;
	height:			3rem;
	
	position:		absolute;
	top:			-.65rem;
	left:			-.3rem;
	
	margin:			0;
	
	display:		inline-block;
	float:			left;
}
.features h2 svg #discField {
	Fill:			hsl(15,100%,45%);
}
.features h2 svg #starField,
.features h2 svg #starBorder {
	fill:			white;
}



b {	
	font-weight:		600;
	font-style:		normal;
}

i {
	font-family: 		open sans;
	font-style:		italic;
}

a {
	color:			hsl(210,50%,80%);
}


p {
	width:			100%;
	height:			auto;
	
	font-size:		.95rem;
	color:			hsla(205,20%,85%,.8);
	line-height:		1.4em;
	text-align:		justify;
	vertical-align:		top;
	text-indent:		0;
	
	border:			0px dashed grey;
	
	margin:			0;
	padding:		0 1.5rem 1.5rem 0;
	
	display: block;
}
p b {
	color:			hsl(205,5%,100%);
}
p i {
	color:			hsl(205,5%,90%);
}
p a {
	color:			hsl(210,50%,80%);
}








iconset {
	width:			120px;
	height:			auto;
	
	vertical-align:		top;
	
	border:			0px solid blue;
	
	padding:		0;
	margin:			0 0 0 1em;
	
	float:			right;
	
	display:		inline-block;
}
iconset svg {
	width:			108px;
	height:			108px;
	
	text-align:		center;
}





ul {
	width:			100%;
	
	color:			hsl(205,5%,90%);
	line-height:		1em;
	text-align:		left;
	vertical-align:		top;
	
	border:			0px solid blue;
	
	padding:		0rem 0 1.5rem 3rem;
}
ul li {
	color:			hsl(205,35%,85%);
	font-size:		90%;
	line-height:		1.2em;
	text-align:		left;
	vertical-align:		top;
	
	margin:			.5em 0 0 0;
}






/*=================================================== NAVIGATION MENU ==================================================*/
nav {
	width:			20rem;
	
	border:			0px dashed green;
	
	vertical-align:		top;
	
	padding:		2.5rem 1rem 0 1rem;
	
	display:		table-cell;
}

nav cont {
	width:			13rem;
	
	border:			0px dashed red;
	border-radius:		1.2rem;
	
	background:		hsla(200,100%,70%,.075);
	
	margin:			.5rem;
	
	display:		table;
}



/* =================== ZIP Button Download ====================*/
.downloadButtonArea {
	width:			13rem;
	
	border:			0px dashed white;
	
	padding:		0;
	margin:			2rem .5rem .5rem .5rem;
	
	background:		transparent;
	
	display:		table-cell;
}

.downloadButtonArea a {
	width:			9rem;
	height:			9rem;
	
	position:		relative;
	
	border:			0x dashed yellow;
	
	margin:			1rem 2rem 0 2rem;
		
	display:		block;
}

.downloadButtonArea #downloadButton {
	width:			9rem;
	height:			9rem;
	
	position:		absolute;
	top:			0;
	left:			0;
	
	border:			0px dashed black;
	
	fill:			hsl(200,50%,35%);
	stroke:			hsl(200,60%,55%);
	stroke-width:		1.5;
	
	display:		block;
}
.downloadButtonArea #icon_rosette {
	fill:			hsl(200,50%,35%);
	stroke:			hsl(200,60%,55%);
	stroke-width:		1.5;
}


.downloadButtonArea a H1,
.downloadButtonArea a H2 {
	width:			9rem;
	height:			auto;
	
	position:		absolute;
	top:			3.2rem;
	left:			0;
	
	font-size:		1rem;
	text-align:		center;
	
	border:			0px dashed blue;
	
	display:		block;
}
.downloadButtonArea a H2 {
	top:			4rem;
	font-size:		.8rem;
}

.downloadButtonArea #downloadButtonArrow {
	width:			2.5rem;
	height:			2.5rem;
	
	position:		absolute;
	top:			5.5rem;
	left:			3.25rem;
	
	border:			0px dashed black;
	
	display:		block;
}
.downloadButtonArea #icon_arrow {
	fill:			hsl(200,0%,100%);
}


@keyframes rosette {
	0% 	{	stroke-width:1; stroke:hsl(210,60%,55%);	}
	50% 	{	stroke-width:3; stroke:hsl(190,60%,90%);	}
	100% 	{	stroke-width:1; stroke:hsl(210,60%,55%);	}
}
.downloadButtonArea #downloadButton:hover {
	animation: 		rosette .3s;
}


@keyframes zipSpin {
	0% 	{	transform: translate(0rem,0rem);	}
	50% 	{	transform: translate(0rem,.3rem);	}
	100% 	{	transform: translate(0rem,0rem);	}
}
.downloadButtonArea a:hover {
	animation: 		zipSpin .5s;
}




nav cont ul {
	width:			100%;
	
	line-height:		1.3em;
	text-align:		left;
	vertical-align:		top;
	
	border:			0px dashed green;
	
	list-style-type:	none;
	
	padding:		0 0 3rem .75rem;
	
	display:		table;
}
nav cont ul li {
	width:			100%;
	
	color:			hsl(205,35%,85%);
	font-size:		86%;
	line-height:		1.3em;
	text-align:		left;
	vertical-align:		top;
	
	margin:			1.5em 0 0 0;
	
	border:			0px dashed pink;
}
nav cont ul li a {
	width:			100%;
	text-decoration: 	none;
	border:			0px dashed purple;
	display:		table;
}
nav ul li h1 {
	width:			80%;
	
	font-size:		1.05rem;
	color:			hsla(200,50%,85%,.7);
	line-height:		1em;
	text-align:		left;
	vertical-align:		top;
	text-shadow: 		0 0 rgba(0,0,0,0);
	background:		hsla(195,70%,85%,0);
	letter-spacing:		0;
	
	border:			0px dashed black;
	
	list-style-type:	none;
	
	padding:		.4em 0 .3em .15rem;
	margin:			0;
	
	display:		table;
}
nav ul li:hover h1 {
	color:			hsl(205,100%,98%);
	text-shadow: 		.2rem .2rem 0 hsla(200,50%,15%,1);
}

.selected h1 {
	color:			hsl(15,100%,65%);
}
.selected:hover h1 {
	color:			hsl(35,100%,80%);
	text-shadow: 		.2rem .2rem 0 hsla(200,50%,15%,1);
}


nav svg {
	width:			35px;
	height:			35px;
	
	text-align:		center;
	
	float:			left;
}
nav svg #discField,
nav svg #photoHead,
nav svg #photoBody,
nav svg #photoSun {
	fill:			white;
}
nav .selected svg #discField,
nav .selected svg #icon_docs,
nav .selected svg #photoHead,
nav .selected svg #photoBody,
nav .selected svg #photoSun {
	fill:			hsl(15,100%,65%);
}
nav .selected:hover svg #discField,
nav .selected:hover svg #icon_docs,
nav .selected:hover svg #photoHead,
nav .selected:hover svg #photoBody,
nav .selected:hover svg #photoSun {
	fill:			hsl(35,100%,80%);
}

nav svg #icon_questionmark,
nav svg #starBorder,
nav svg #starField,
nav svg #photoField,
nav svg #currency_gbp,
nav svg #commentField,
nav svg #commentBorder,
nav svg #icon_arrow,
nav svg #icon_scroll {
	fill:			hsl(205,20%,25%);
}





/*=================================================== DOWNLOAD BUTTON ==================================================*/








row {
	width:			100%;
	height:			auto;
	
	position:		relative;
	
	border:			0px solid red;
	border-radius:		0 0 90px 0;
	
	margin:			0 auto 1rem auto;
	padding:		0 30px;
	
	background:		hsla(212,50%,5%,.2);
	
	display:		table;
}




.toggleOn, .toggleOff {
	width:			3rem;
	height:			3rem;
	
	position:		absolute;
	top:			1rem;
	left:			1rem;
	
	border-radius:		50% 50% 0 0;
	
	margin:			0;
	padding:		0;
	
	cursor:			pointer;
	
	background:		hsla(0,55%,25%,1);
	
	display:		table;
}
.toggleOn {
	top:			4rem;
	background:		hsla(120,30%,30%,1);
	border-radius:		0 0 50% 50%;
}








error {
	width:			70%;
	
	font-size:		140%;	
	color:			hsla(200,50%,85%,.95);
	line-height:		1.3em;
	text-align:		center;
	vertical-align:		top;
	
	border:			px solid blue;
	
	list-style-type:	none;
	
	padding:		.4em 0 .3em .6em;
	margin:			20px auto 0 auto;
	
	display:		table;
}
error p {
	width:			100%;
	
	font-size:		100%;	
	color:			hsla(200,50%,98%,.98);
	line-height:		1.4em;
	text-align:		center;
	vertical-align:		top;
	
	border:			px solid yellow;
	
	padding:		.4em 0 1em 0;
	margin:			0;
	
	display:		table;
}
error h1 {
	width:			100%;
	
	font-size:		1.6rem;	
	color:			hsla(200,50%,98%,.98);
	line-height:		1em;
	text-align:		center;
	vertical-align:		top;
	
	border:			px solid red;
	
	padding:		.8em 0 .8em 0;
	
	display:		table;
}


/* ====================================================== INSTALLATION ======================================================== */
explain shell {
	width:			95%;
	height:			auto;

	font-family: 		Sanchez;
	font-size:		85%;
	color:			hsla(205,20%,85%,1);
	line-height:		1.6em;
	text-align:		left;
	vertical-align:		top;
	white-space:		normal;
	
	border:			0px dashed purple;
	
	margin:			0 0 1.3em 0;
	padding:		1em;
	
	background:		hsla(200,0%,0%,.2);
	
	display:		table;
}

#simpleDisc {
	width:			4rem;
	height:			4rem;
	
	margin:			1rem 0 0 0;
	
	fill:			orange;
	
	display:		block;
}




/* ========================================================= DOCS ============================================================= */
docs {
	width:			75%;
	
	vertical-align:		top;
	
	border:			0px dashed yellow;
	
	padding:		2em 0 2em 1.3em;
	
	display:		table-cell;
}

docs funcDef {
	font-family: 		Sanchez;
	font-size:		130%;	
	color:			hsla(200,50%,98%,.98);
	line-height:		1.4em;
	text-align:		center;
	vertical-align:		top;
	
	border:			0px dashed yellow;
	
	padding:		.6em 0 .2em 0rem;
	
	display:		table-cell;
}

docs func {
	width:			100%;
	height:			auto;

	font-family: 		Sanchez;
	font-size:		90%;
	color:			hsla(205,20%,85%,1);
	line-height:		1.3em;
	text-align:		left;
	vertical-align:		top;
	white-space:		normal;
	
	border:			0px dashed purple;
	
	margin:			0;
	padding:		.8em 0 .8em 1em;
	
	background:		hsla(200,30%,2%,.4);
	
	display:		table;
}


docs obj {
	color:			hsl(60,75%,65%);
}
docs str {
	color:			hsl(0,100%,60%);
}
docs num {
	color:			hsl(180,50%,60%);
}
docs array {
	color:			hsl(30,100%,60%);
}
docs function {
	color:			hsl(250,100%,75%);
}





/* ========================== Nested Defblock ========================*/
docs defBlock {
	width:			100%;
	
	border:			0px dashed pink;
	
	border-radius:		0;

	padding:		1em 0 1em 1.6rem;
	
	background:		hsla(190,50%,5%,.3);

	display:		table;	
}

docs defBlock obj,
docs defBlock array,
docs defBlock str,
docs defBlock num,
docs defBlock function {
	width:			auto;
	border:			0px dashed grey;
	
	margin:			0;
	padding:		.1em .8em 0em 0;
	
	display:		inline-block;
	float:			left;
}

docs def {
	width:			100%;
	height:			auto;

	font-size:		89%;
	color:			hsla(205,20%,85%,1);
	line-height:		1.5em;
	text-align:		justify;
	vertical-align:		top;
	white-space:		normal;
	
	border:			0px dashed purple;
	
	margin:			0;
	padding:		0 2em 1em 0;
	
	display:		block;
}






/* ========================== Nested Defblock ===========================*/
docs defBlock defBlock {
	width:			80%;
	
	border:			0px dashed pink;

	border:			1px solid hsla(200,0%,100%,.1);	
	border-radius:		20px 20px 30px 30px;

	padding:		1em 0 1em 0;
	margin:			0 0 0 10%;
	
	background:		hsla(210,30%,70%,.1);

	display:		table;	
}

docs spc {
	width:			100%;
	height:			1.5em;
	border:			0px dashed purple;	
	display: table;	
}

docs defBlock defBlock h1,
docs defBlock defBlock h2 {
	line-height:		1em;
	text-align:		left;
	vertical-align:		top;
	
	padding:		0 0 .6em 1.5em;
	margin:			0 0 0 0;
}
docs defBlock defBlock h1 {
	font-size:		100%;
	color:			hsl(205,5%,97%);
}
docs defBlock defBlock h2 {
	font-size:		100%;
	color:			hsl(205,5%,93%);
}

docs defBlock defBlock func {
	margin:			0;
}
docs defBlock defBlock func ~ func {
	margin:			0 0 1em 0;
	background:		hsla(210,30%,5%,.275);
}

docs defBlock defBlock func obj,
docs defBlock defBlock func array,
docs defBlock defBlock func str,
docs defBlock defBlock func num,
docs defBlock defBlock func function {
	padding:		0;
	display:		inline;
	float:			none;
}

docs def {
	padding:		0 2em 1em 1.6em;
}
docs defBlock defBlock obj,
docs defBlock defBlock array,
docs defBlock defBlock str,
docs defBlock defBlock num,
docs defBlock defBlock function {
	padding:		.1em .8em 0em 1.6em;
}







docs p {
	width:			100%;
	height:			auto;
	
	font-weight:		400;
	font-size:		100%;
	color:			hsla(205,20%,85%,.8);
	line-height:		1.3em;
	text-align:		justify;
	vertical-align:		top;
	
	border:			0px dashed grey;
	
	margin:			0;
	padding:		0 1.5rem 1.5rem 0rem;
	
	display: block;
}




/* ========================== Examples ===========================*/
docs examples {
	border:			0px dashed blue;
	border-radius:		0 0 20px 20px;
	
	padding:		1em 1.5rem 0 1.5rem;
	margin:			0em 0 1em 0;
	
	background:		hsla(210,100%,5%,.2);
	
	display:		table;
}

docs examples h1 {
	padding:		.6em 0 .5em 0em;
}
docs examples h2 {
	padding:		.6em 0 .5em 0em;
}

docs examples p {
	width:			100%;
	height:			auto;
	
	font-weight:		400;
	font-size:		100%;
	color:			hsla(205,20%,85%,.8);
	line-height:		1.3em;
	text-align:		justify;
	vertical-align:		top;
	
	border:			0px dashed grey;
	
	margin:			0;
	padding:		0 0 .5rem 0;
	
	display: block;
}


docs exampleSVG {
	width:			auto;
	height:			auto;
	
	text-align:		left;
	
	margin:			0;
	padding:		5px 0 5px 0;
	
	display:		table;
}

docs svg {
	width:			90px;
	height:			90px;
	
	text-align:		left;
	
	margin:			.5rem 0 2rem 0;
	padding:		0;
	
	background:		hsla(212,5%,15%,0);
	
	display:		inline-block;
}

docs svg #discField {
	fill:			white;
}
docs svg #icon_contact {
	fill:			hsl(212,5%,20%);
}
docs svg #icon_layer_2 #discField {
	fill:			hsl(212,5%,0%);
}

docmenu {
	width:			100%;
	height:			300px;
	
	position:		fixed;
	
	background:		red;
	display:		block;
}







/* ======================================================== Docs Nav ===========================================================*/
docsNav {
	width:			19%;
	height:			75vh;

	position:		absolute;
	top:			11px;
	left:			-201px;
	
	border:			0px dashed black;
	
	vertical-align:		top;
	
	padding:		0;
	margin:			0;
	
	display:		block;
	float:			left;
	z-index:		5;
}

docsNav cont {
	width:			15%;
	height:			auto;

	position:		fixed;
		
	border:			0px dashed red;
	border-radius:		20px 0 0 20px;
		
	overflow-y:		auto;
	
	padding:		5px 10px 0 10px;
	
	background:		hsla(210,10%,35%,.3);
	
	display:		block;
}
.docsNavClosed cont {
	opacity:		0;
	transition: 		opacity ease-in-out .5s;
}
.docsNavOpen cont {
	opacity:		1;
	transition: 		opacity ease-in-out .5s;
}


docsNav cont ul {
	width:			180px;
	
	font-size:		100%;
	
	color:			hsl(205,5%,90%);
	line-height:		1em;
	text-align:		left;
	vertical-align:		top;
	
	border:			0px dashed cyan;
	border-radius:		15px;
		
	padding:		.3em .5em .5em .9em;
	margin:			0 0 1em 0;
	
	background:		hsla(210,10%,80%,.1);
	
	display:		block;
}
docsNav cont ul li {
	width:			auto;
	border:			0px dashed yellow;	
	padding:		0;
	display:		table;
}
docsNav cont ul a {
	text-decoration:	none;
	white-space:		nowrap;
}
docsNav cont ul h1 {
		
	font-family:		Sanchez;
	font-size:		97%;
	padding: 		.1em 0 .1em 0;
	margin:			0 0 0 0;
}
docsNav cont ul h2 {
		
	font-family:		Sanchez;
	font-size:		95%;
	padding: 		.1em 0 .2em .5em;
	margin:			0 0 0 0;
}


docsNav cont ul ul {
	border:			0px dashed green;
	border-radius:		0;
	
	padding:		.2em .5em .4em 1em;
	background:		none;
}

footer {
	width:			100%;
	height:			1.4em;
	border:			0px dashed red;
	padding:		.5rem 0 0 0;
	display:		table;
}


